html {
	margin: 0,0,0,0;
	height: 95%;
    }
	
body {
	margin: 0,0,0,0;
      font-size: 10px;
      font-family: sans-serif;
	  height: 100%;
	  color: #4E5967;
    }

.margins {
	margin: 20px;
	height:100%;
}

#wrapper {
	width: 100%;
	height: 100%;
	float: left;
	}
	
#lftSidebar {
	width: 200px;
	height: 98%;
	float: left;
	border: solid;
	border-width: 10px;
	border-color: #4E5967;
	}

.slidecontainer {
	width: 100%;
	}
	
	.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	}
	
	.slider:hover {
	opacity: 1;
	}
	
	.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
	}
	
	.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
	}

#map_canvas {
	height: 100%; 
	}

#rtSidebar{
	display: inline-block;
	width: 260px;
	height: 100%;
	float: right;	
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #F6F6F5;
	border: solid;
	border-width: 0px;
	border-color: #ffffff;
	border-left: 4px solid #ffffff;
}



.bldgPhoto {
	width: 260px;
}

#bldgInfo {
	width: 200px;
	border-bottom: 2px solid #6678b1;
	margin: 20px;
	padding-bottom: 20px;
}

.category {
	font-weight: bold;
	width: 60px;
}

#buildingList
{
	border-collapse: collapse;
	text-align: left;
}

#buildingList th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#buildingList td
{
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
}
#buildingList tbody tr:hover td
{
	background: #d0dafd;
	color: #000000;
}
#bldgSummary
{
	border-bottom: 2px solid #6678b1;
	text-align: left;
}
#bldgSummary th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	/*border-bottom: 2px solid #6678b1;*/
}
#bldgSummary td
{
	padding: 6px 8px;
}

